AgenciaDeViaje/Web References/ServicioWeb/ServicioDeComunicacion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/servicioCom" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost/servicioCom" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">web service de comunicacion Proyecto Final</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/servicioCom">
      <s:element name="VuelosDisponibles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="procedencia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="destino" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fecha" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VuelosDisponiblesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VuelosDisponiblesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="VuelosDisponiblesSoapIn">
    <wsdl:part name="parameters" element="tns:VuelosDisponibles" />
  </wsdl:message>
  <wsdl:message name="VuelosDisponiblesSoapOut">
    <wsdl:part name="parameters" element="tns:VuelosDisponiblesResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioDeComunicacionSoap">
    <wsdl:operation name="VuelosDisponibles">
      <wsdl:input message="tns:VuelosDisponiblesSoapIn" />
      <wsdl:output message="tns:VuelosDisponiblesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioDeComunicacionSoap" type="tns:ServicioDeComunicacionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VuelosDisponibles">
      <soap:operation soapAction="http://localhost/servicioCom/VuelosDisponibles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioDeComunicacionSoap12" type="tns:ServicioDeComunicacionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VuelosDisponibles">
      <soap12:operation soapAction="http://localhost/servicioCom/VuelosDisponibles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioDeComunicacion">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">web service de comunicacion Proyecto Final</wsdl:documentation>
    <wsdl:port name="ServicioDeComunicacionSoap" binding="tns:ServicioDeComunicacionSoap">
      <soap:address location="http://localhost:1335/ServicioDeComunicacion.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioDeComunicacionSoap12" binding="tns:ServicioDeComunicacionSoap12">
      <soap12:address location="http://localhost:1335/ServicioDeComunicacion.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>