AgenciaDeViaje/Service References/ServicioWeb/ServicioDeComunicacion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/servicioCom" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost/servicioCom" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">web service de comunicacion Proyecto Final</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/servicioCom">
      <s:element name="VuelosVuelta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="procedencia" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="destino" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fechaS" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="fechaLl" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VuelosVueltaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VuelosVueltaResult" type="tns:ArrayOfVuelo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVuelo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Vuelo" nillable="true" type="tns:Vuelo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Vuelo">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="FechaSalida" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="HoraSalida" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Duracion" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="AeropuertoReference" type="tns:EntityReferenceOfAeropuerto" />
              <s:element minOccurs="0" maxOccurs="1" name="Aeropuerto1Reference" type="tns:EntityReferenceOfAeropuerto" />
              <s:element minOccurs="0" maxOccurs="1" name="AvionReference" type="tns:EntityReferenceOfAvion" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntityObject" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:StructuralObject">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="EntityKey" type="tns:EntityKey" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="StructuralObject" abstract="true" />
      <s:complexType name="EntityKey">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EntitySetName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EntityContainerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EntityKeyValues" type="tns:ArrayOfEntityKeyMember" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEntityKeyMember">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EntityKeyMember" nillable="true" type="tns:EntityKeyMember" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EntityKeyMember">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EntityReferenceOfAeropuerto">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityReference" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntityReference" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:RelatedEnd">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="EntityKey" type="tns:EntityKey" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="RelatedEnd" abstract="true" />
      <s:complexType name="EntityReferenceOfAvion">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityReference" />
        </s:complexContent>
      </s:complexType>
      <s:element name="VuelosIda">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="procedencia" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="destino" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fechaS" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VuelosIdaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VuelosIdaResult" type="tns:ArrayOfVuelo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Aeropuertos">
        <s:complexType />
      </s:element>
      <s:complexType name="ArrayOfAeropuerto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Aeropuerto" nillable="true" type="tns:Aeropuerto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Aeropuerto">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Lugar" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="AeropuertosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AeropuertosResult" type="tns:ArrayOfAeropuerto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TodosVuelos">
        <s:complexType />
      </s:element>
      <s:element name="TodosVuelosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TodosVuelosResult" type="tns:ArrayOfVuelo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="asientosDisponibles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idVuelo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="asientosDisponiblesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="asientosDisponiblesResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="disponbilidadVuelo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idVuelo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="disponbilidadVueloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="disponbilidadVueloResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="VuelosVueltaSoapIn">
    <wsdl:part name="parameters" element="tns:VuelosVuelta" />
  </wsdl:message>
  <wsdl:message name="VuelosVueltaSoapOut">
    <wsdl:part name="parameters" element="tns:VuelosVueltaResponse" />
  </wsdl:message>
  <wsdl:message name="VuelosIdaSoapIn">
    <wsdl:part name="parameters" element="tns:VuelosIda" />
  </wsdl:message>
  <wsdl:message name="VuelosIdaSoapOut">
    <wsdl:part name="parameters" element="tns:VuelosIdaResponse" />
  </wsdl:message>
  <wsdl:message name="AeropuertosSoapIn">
    <wsdl:part name="parameters" element="tns:Aeropuertos" />
  </wsdl:message>
  <wsdl:message name="AeropuertosSoapOut">
    <wsdl:part name="parameters" element="tns:AeropuertosResponse" />
  </wsdl:message>
  <wsdl:message name="TodosVuelosSoapIn">
    <wsdl:part name="parameters" element="tns:TodosVuelos" />
  </wsdl:message>
  <wsdl:message name="TodosVuelosSoapOut">
    <wsdl:part name="parameters" element="tns:TodosVuelosResponse" />
  </wsdl:message>
  <wsdl:message name="asientosDisponiblesSoapIn">
    <wsdl:part name="parameters" element="tns:asientosDisponibles" />
  </wsdl:message>
  <wsdl:message name="asientosDisponiblesSoapOut">
    <wsdl:part name="parameters" element="tns:asientosDisponiblesResponse" />
  </wsdl:message>
  <wsdl:message name="disponbilidadVueloSoapIn">
    <wsdl:part name="parameters" element="tns:disponbilidadVuelo" />
  </wsdl:message>
  <wsdl:message name="disponbilidadVueloSoapOut">
    <wsdl:part name="parameters" element="tns:disponbilidadVueloResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioDeComunicacionSoap">
    <wsdl:operation name="VuelosVuelta">
      <wsdl:input message="tns:VuelosVueltaSoapIn" />
      <wsdl:output message="tns:VuelosVueltaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VuelosIda">
      <wsdl:input message="tns:VuelosIdaSoapIn" />
      <wsdl:output message="tns:VuelosIdaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Aeropuertos">
      <wsdl:input message="tns:AeropuertosSoapIn" />
      <wsdl:output message="tns:AeropuertosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TodosVuelos">
      <wsdl:input message="tns:TodosVuelosSoapIn" />
      <wsdl:output message="tns:TodosVuelosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="asientosDisponibles">
      <wsdl:input message="tns:asientosDisponiblesSoapIn" />
      <wsdl:output message="tns:asientosDisponiblesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="disponbilidadVuelo">
      <wsdl:input message="tns:disponbilidadVueloSoapIn" />
      <wsdl:output message="tns:disponbilidadVueloSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioDeComunicacionSoap" type="tns:ServicioDeComunicacionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VuelosVuelta">
      <soap:operation soapAction="http://localhost/servicioCom/VuelosVuelta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VuelosIda">
      <soap:operation soapAction="http://localhost/servicioCom/VuelosIda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Aeropuertos">
      <soap:operation soapAction="http://localhost/servicioCom/Aeropuertos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TodosVuelos">
      <soap:operation soapAction="http://localhost/servicioCom/TodosVuelos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="asientosDisponibles">
      <soap:operation soapAction="http://localhost/servicioCom/asientosDisponibles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="disponbilidadVuelo">
      <soap:operation soapAction="http://localhost/servicioCom/disponbilidadVuelo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioDeComunicacionSoap12" type="tns:ServicioDeComunicacionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VuelosVuelta">
      <soap12:operation soapAction="http://localhost/servicioCom/VuelosVuelta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VuelosIda">
      <soap12:operation soapAction="http://localhost/servicioCom/VuelosIda" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Aeropuertos">
      <soap12:operation soapAction="http://localhost/servicioCom/Aeropuertos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TodosVuelos">
      <soap12:operation soapAction="http://localhost/servicioCom/TodosVuelos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="asientosDisponibles">
      <soap12:operation soapAction="http://localhost/servicioCom/asientosDisponibles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="disponbilidadVuelo">
      <soap12:operation soapAction="http://localhost/servicioCom/disponbilidadVuelo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioDeComunicacion">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">web service de comunicacion Proyecto Final</wsdl:documentation>
    <wsdl:port name="ServicioDeComunicacionSoap" binding="tns:ServicioDeComunicacionSoap">
      <soap:address location="http://localhost:9871/ServicioDeComunicacion.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioDeComunicacionSoap12" binding="tns:ServicioDeComunicacionSoap12">
      <soap12:address location="http://localhost:9871/ServicioDeComunicacion.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>